* {
  margin: 0;
  padding: 0;
}
body * {
  font-family: "Open Sans" !important;
  margin: 0;
  padding: 0;
}
.searchcontainer {
  background-color: #002c5d;
  height: 270px;
  font-family: "Open Sans !important";
}
.searchform {
  background-color: #ffffff;
  margin-top: 70px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.inputfield {
  margin-right: 15px;
  border: none;
  outline: none;
}
.searchtrainsbtn {
  background: #1079d7;
  margin-right: 20px;
  padding: 10px 30px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
}
.trains {
  box-sizing: border-box;
  padding: 15px 15px;
}
.row {
  box-sizing: border-box;
}
.filters {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 15px 15px;
}
.train {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0 0 0 / 20%);
  padding: 10px 0;
  margin-bottom: 20px;
}
.train h5 {
  text-transform: capitalize !important;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.time {
  font-size: 14px;
  color: #888;
}
.time div {
  height: 25px !important;
  padding: 15px 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.time img {
  margin-right: 5px;
}
.selectbox label {
  margin-left: 10px;
}
.select {
  margin: 15px 0;
}
.place {
  text-transform: uppercase;
}
.headers {
  background-color: #e7e7e7;
  margin-bottom: 15px;
  padding: 10px 10px;
}
.train p,
h3,
h5 {
  margin: 0;
  padding: 0;
}

.d,
.a {
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  font-weight: 500;
  opacity: 0.5;
}
.react-autosuggest__container {
  height: 40px;
  border: none;
  outline: none;
  position: relative;
}
.react-autosuggest__input {
  height: 100%;
  border: none;
  outline: none;
}
.react-autosuggest__suggestions-container--open {
  position: absolute;
  background-color: #ffffff;
  border-top: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none !important;
  left: -1px;
  top: 35px;
  width: 100% !important;
  outline: none;
  z-index: 100000000;
}

.react-autosuggest__suggestions-container--open li {
  list-style-type: none;
  text-overflow: ellipsis;
  border: none !important;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px 3px;
}
.table {
  width: 70%;
}
th {
  width: 70%;
}
td {
  text-transform: uppercase;
  height: 45px !important;
}
thead {
  background-color: #747274;
  height: 30px;
}
thead > tr {
  background-color: #747274;
}
th {
  background-color: #747274 !important;
  color: #ffffff !important;
}
.dayheader {
  background-color: #747274 !important;
  color: #ffffff !important;
  margin: 2px 5px;
  width: 100px;
  text-align: center;
}
body {
  margin-top: 20px;
}
.timeline {
  border-left: 3px solid #1787e2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #ffffff;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 100%;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}
.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #033e6e;
  box-shadow: 0 0 0 3px #033e6e;
  left: -55.8px;
  background:  #033e6e;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #1787e2;
}
.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

.timelinecontainer {
  width: calc(100%-100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableheader{
  display: flex;
  width: 450px;
  justify-content: space-between;
  background-color: #747274;
  color: #FFFFFF;
  padding:10px 40px;
}
.timeline {
  left: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 0 50px;
}
.event {
  height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  width: 300px;
  justify-content: space-between;
  text-transform: uppercase;
}
.traindetail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  margin-top: 20px;
}